
.navbar{
    @include media-breakpoint-up(lg) {
        display: none;
    }
}

.navbar-brand {
    a {
        background: url(../images/Logo-desktop.svg) no-repeat;
        width: 170px;
        height: 40px;
        background-size: cover;
        display: block;
        @include hide-text;
        background-position: center center;

        @include media-breakpoint-down(sm) {
            background: url(../images/Logo-mobile.svg) no-repeat;
            width: 40px;
            background-size: contain;
        }
    }
}

.nav-list{
    background-color: theme-colors("light");
    @include media-breakpoint-up(sm) {
        background-color: $white;
    }
    .nav-link{
        padding-top: map-get($spacers, 5);
        padding-bottom: map-get($spacers, 5);
        padding-left: map-get($spacers, 8);
        padding-right: map-get($spacers, 8);
        border-bottom: $border-width solid $border-color;
        &:hover{
            color: $primary !important;
        }
        @include media-breakpoint-up(sm) {
            padding-top: map-get($spacers, 2);
            padding-bottom: map-get($spacers, 2);
            border-bottom: none;
        }
    }
}